<section class="details-container">
    <h1 class="text-uppercase">Buttons</h1>
    <p class="lead desc-title">Fully customizable buttons with Crestron CH5.
        Touch a button to view button animations.</p>
    <p></p>
    <hr />
    <h3 >GRADIENT BUTTONS</h3>
    <p></p>
    <div class="btn-group">
        <ch5-button type="default" class="shadow-pulse-gradient-button" shape="rounded-rectangle"
            label="Button 1" sendeventonclick="trigger_type_change_btn1" receivestatetype="buton1_state" receivestatelabel="buton1_label" debug="true"></ch5-button>
        <ch5-button type="default" class="shadow-pulse-gradient-button" customClass="gradient-button--purple" shape="rounded-rectangle"
            label="Button 2" sendeventonclick="trigger_type_change_btn2" receivestatetype="buton2_state" receivestatelabel="buton2_label"></ch5-button>
        <ch5-button type="default" class="shadow-pulse-gradient-button" customClass="gradient-button--blue" shape="rounded-rectangle"
            label="Button 3" sendeventonclick="trigger_type_change_btn3" receivestatetype="buton3_state" receivestatelabel="buton3_label"></ch5-button>
        <ch5-button type="default" class="shadow-pulse-gradient-button" customClass="gradient-button--aqua" shape="rounded-rectangle"
            label="Button 4" sendeventonclick="trigger_type_change_btn4" receivestatetype="buton4_state" receivestatelabel="buton4_label"></ch5-button>
    </div>
</section>